@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.modal-div{
    height:200px;
    z-index: 2147483647;
    width: 200px;
    top: 20px;
    right: 40px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px 1px;
    position:fixed;
    font-family: 'Roboto', sans-serif;
}
.sucsses-main-qrt{
    height:200px;
    z-index: 2147483647;
    width: 240px;
    top: 20px;
    right: 40px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px 1px;
    position:fixed;
    font-family: 'Roboto', sans-serif;
}
.text-user{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-top: 15px;
    line-height: 1.5em;
}
.flex-div{
    display: flex;
    margin-top: 5px;
    height: 100%;
    padding: 20px;
    flex-direction: column;
}



.click-buttonre{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    margin-top: 15px;
    width: 80px;
    background: blue;
    height: 30px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.closex{
    cursor: pointer !important;
    margin-left: 140px !important ;
    width: 10px !important;
    height: 12px !important;
    font-size: 20px!important ;
}

.closex:hover{
    color: red;   
}

.first-div-qrt{
    height: 45px;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
}

.first-div-main-qrt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5%;
    height: 45px;
}

.privacy-text-qrt{
    font-size: 20px;
    
}
.close-qrt{
    font-family: 'Roboto', sans-serif;
    width: 10px;
}

.close-qrt{
    cursor: pointer;
}

.line-one-qrt{
    width: 2px;
    height: 22px;
    color: #000;
    background:rgba(0, 0, 0, 0.5); 
    transform: rotate(-45deg);
    position: absolute;
}

.line-two-qrt{
    width: 2px;
    height: 22px;
    color: #000;
    background: rgba(0, 0, 0, 0.5);;
    transform: rotate(45deg);

}

.second-div-qrt{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 155px;
}
.site-name-qrt{
    margin-top: 15px;
    font-size: 17px;
    /* font-weight: bold; */
    letter-spacing: 0em;
}

.bottom-div-qrt{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.main-info-qrt{
    width: 100px;

}

.scores-qrt{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    
}

.pCol{
    font-size: 16px;
    font-weight: bold;
}