@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

div.mteece-434ggf-gbfgd-jmh{
    height: auto; 
    z-index: 2147483647 ;
    width: 220px ;
    top: 20px ;
    right: 40px ;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px 1px ;
    position:fixed ;
    font-family: 'Roboto', sans-serif ;
}

.mtxcd-dsdsgr-343dss-334fd{
    position: relative;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.mtxcd-dsdsgr-343dss-334fd .mtrtr-vdvdfg-re43-gfdgre{
    font-size: 18px ; 
    color: black;
    font-family: 'Roboto', sans-serif ;
  
}
.mtrtr-vdvdfg-re43-gfdgre{
    font-size: 18px ; 
    color: black;
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif ;
}
.effvd-42dfdvd-3dss-vdbd{
    background-color: rgb(231, 231, 231);
    height: 1px;
}

.mtrg-fsfs-432-34tg-43t3{
    cursor: pointer;
    font-family: 'Roboto', sans-serif ;
    width: 10px ;
    color: grey !important;
    margin-top: 1px;
}

.mtdfd-gdf-dfbdfb-45334fv-vdvd{
    width: 2px; 
    height: 22px ;
    color: #000 ;
    background:rgba(0, 0, 0, 0.5) ;
    transform: rotate(-45deg) ;
    position: absolute ;
}

.mt-dfgd-gdfgd-34fvbc-bfd{
    width: 2px ;
    height: 22px ;
    color: #000 ;
    background: rgba(0, 0, 0, 0.5) ;
    transform: rotate(45deg) ;

}
.fvxvdf-gdfa-bgdbfv-asdsd{
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    color:#777;
    font-family: 'Roboto', sans-serif !important;
    line-height: 1.5em;
}
#fsfd-bbrdfb4-g45t-45t3-34gf{
    box-shadow: rgb(0, 0, 0) 0px 0px 1px 0px inset;
    display: block;
    border-color: rgb(0, 119, 204);
    border-radius: 0px;
    background: rgb(19, 114, 192);
    margin: 0px auto;
    margin-bottom: 20px;
    width: 130px;
    height: 34px;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif !important;
}

#fsfd-bbrdfb4-g45t-45t3-34gf:focus{
    outline: none;
}
.fcsdf-dffv-34rdf-43trf{
    height: 10px;
}
div.mtdfvf-vdfgvd-vgnnbr-345g{
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px 1px;
    position: fixed;
    z-index: 2147483647;
    width: 240px;
    height: auto;
    top: 15px;
    right: 15px;
    line-height: normal !important;
    margin: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(236, 236, 236);
    border-image: initial;
    border-radius: 5px;
}



.mt-dfgd-gdfgd-34fvbc-bfd{
    width: 2px !important;
    height: 22px !important;
    color: #000 !important;
    background: rgba(0, 0, 0, 0.5) !important;
    transform: rotate(45deg) !important;

}

div.mtfds-vdvdf-34yhn-dvvd{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.mtfd-dvfg-dfbtn-bgfb{
    height: 1px;
    color: #777;
    background-color: #777;
}

.mtv-fgdgb-y65-gh4{
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}
.mtcs-fsvsv-bfdgbfg{
 display: flex;
 justify-content:space-between;
 flex-direction: row;
 margin-bottom: 10px;
align-items: center;
}

#mtsdsf-bfvdf-4534bg-dfbf{
    width: 90px;
    height: 80px;
}
.mtbfgb-htyht-45ggfb{
    width: 130px;
}

.mgdf-gdg-dgfdh{
    font-size: 20px;
    font-family: 'Roboto', sans-serif ;
    color: #000;
}

.mtfvv-gdgdf-dfvd{
   font-size: 13px;
   font-family: 'Roboto', sans-serif ;
   margin-top: 2px;
}
.pCol{
    font-weight: bold;
    font-size: 13px;
    font-family: 'Roboto', sans-serif ;
}

.mtvd-dgfd-fdvd-gerg{
display: flex;
align-items: center;
flex-direction: row;;

}


.gdfz-bfbc-gfbg{
    position: absolute;
    display: none;
    margin-top: 95px;
    margin-left: 27px;
}
.fsdfsd-dfgdf-654bb{
    position: absolute;
    display: none;
    margin-top: 95px;
    margin-left: 30px;
}

.fsdfsd-dfgdf-u7ngh{
    position: absolute;
    display: none;
    margin-top: 95px;
    margin-left: 27px;
}

.dasdsh-fghf-ccv{
    display: block;
}

.fsdf-ghfg-hfghf{
    font-size: 13px;
}

.fsdfsd-dfgdf-654bb img{
    height: 30px;
    width: 30px;
}


