@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.modal-div{
    height:200px !important ;
    z-index: 2147483647 !important  ;
    width: 200px !important;
    top: 20px !important;
    right: 40px !important;
    border-radius: 5px !important ;
    background-color: rgb(255, 255, 255) !important;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px 1px !important;
    position:fixed !important;
    font-family: 'Roboto', sans-serif !important;
}
.sucsses-main-qrt{
    height:200px !important;
    z-index: 2147483647 !important;
    width: 240px !important;
    top: 20px !important;
    right: 40px !important;
    border-radius: 5px !important;
    background-color: rgb(255, 255, 255) !important;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px 1px !important;
    position:fixed !important;
    font-family: 'Roboto', sans-serif !important;
}
.text-user{
    font-family: 'Roboto', sans-serif !important;
    font-size: 15px !important;
    margin-top: 15px !important;
    line-height: 1.5em !important;
}
.flex-div{
    display: flex !important;
    margin-top: 5px !important;
    height: 100% !important;
    padding: 20px !important;
    flex-direction: column !important;
}



.click-buttonre{
    font-family: 'Roboto', sans-serif !important;
    color: #fff !important;
    margin-top: 15px !important;
    width: 80px !important;
    background: blue !important;
    height: 30px !important;
    font-weight: bold !important;
    cursor: pointer !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.closex{
    cursor: pointer !important;
    margin-left: 140px !important ;
    width: 10px !important;
    height: 12px !important;
    font-size: 20px !important ;
}

.closex:hover{
    color: red !important;   
}

.first-div-qrt{
    height: 45px !important;
    border-bottom: 1px solid rgba(0, 0, 0, .5)  !important;
}

.first-div-main-qrt{
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    margin: 0 5% !important;
    height: 45px !important;
}

.privacy-text-qrt{
    font-size: 20px !important;
    
}
.close-qrt{
    font-family: 'Roboto', sans-serif !important;
    width: 10px !important;
}

.close-qrt{
    cursor: pointer !important;
}

.line-one-qrt{
    width: 2px !important;
    height: 22px !important;
    color: #000 !important;
    background:rgba(0, 0, 0, 0.5) !important; 
    transform: rotate(-45deg) !important;
    position: absolute !important;
}

.line-two-qrt{
    width: 2px !important;
    height: 22px !important;
    color: #000 !important;
    background: rgba(0, 0, 0, 0.5) !important;
    transform: rotate(45deg) !important;

}

.second-div-qrt{
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    height: 155px !important;
}
.site-name-qrt{
    margin-top: 15px !important;
    font-size: 17px !important;
    /* font-weight: bold; */
    letter-spacing: 0em !important;
}

.bottom-div-qrt{
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;
    width: 100% !important;
}

.main-info-qrt{
    width: 100px !important;

}

.scores-qrt{
    font-size: 16px !important;
    font-family: 'Roboto', sans-serif !important;
    
}

.pCol{
    font-size: 16px !important;
    font-weight: bold !important;
}